    <footer class="footer navbar-static-bottom">
    <footer class="footer-red-bar"></footer>
        <div class="container">
            <p class="text-muted footer-text text-center"> Last Updated {{ site.time |date: "%B %Y"}}, by: <a href={{site.maintainer.website}}> {{ site.maintainer.name }} </a> <br>
            Copyright &copy; {{ site.time |date: "%Y"}} Rensselaer Polytechnic Institute Department of Mechanical, Aerospace &amp; Nuclear Engineering <br>
            110 8th Street, Troy, New York 12180-3590 Phone: (518) 276-6351 Fax: (518) 276-6025
        </p>
        </div>
    </footer>
