    <nav class="navbar navbar-default" style="margin-bottom: 0px;>
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                    {% assign pages_list = site.pages %}
                    {% assign pages_list = pages_list | sort:"nav_weight" %}
                    {% assign group = 'navigation' %}
                    {% include pages_list %}
              </ul>
            </div><!--/.nav-collapse -->
          </div>
    </nav>
    <div class="container-fluid">
    <div class="row">
    <div class="banner img-overlay">
        <div id="banner-text">
            <p>{{ site.title }}</p>
        </div>
    </div>
    </div>
    </div>
